/* Variables */
@import 'vars';

/* Normalize */
@import 'normalize';

/* Fonts */
@import 'fonts';

* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    font-family: "Muli", sans-serif;
}

.wrapper {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;

    &--blog {
        padding: 65px 35px 150px;

        @media (max-width: 1599px) {
            padding: 65px 35px 100px;
        }

        @media (max-width: 991px) {
            padding: 50px 0;
        }

        @media (max-width: 575px) {
            padding: 30px 0;
        }

        &::before,
        &::after {
            position: absolute;
            z-index: 1;
            content: '';
            background-color: $lilac;

            @media (max-width: 1055px) {
                display: none;
            }
        }

        &::before {
            bottom: 0;
            left: 212px;
            width: 2px;
            height: 154px;
        }

        &::after {
            bottom: 69px;
            left: 20px;
            width: 256px;
            height: 2px;
        }
    }
}

.container {
    position: relative;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Blocks */
@import 'blocks/animated';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/logo';
@import 'blocks/menu';
@import 'blocks/btn';
@import 'blocks/social';
@import 'blocks/about';
@import 'blocks/title';
@import 'blocks/clients';
@import 'blocks/portfolio';
@import 'blocks/ya-share2';
@import 'blocks/blog';
@import 'blocks/work';
@import 'blocks/form';
@import 'blocks/footer';
@import 'blocks/contact';
@import 'blocks/posts';
@import 'blocks/footer-menu';
@import 'blocks/insta';
@import 'blocks/page-up';
