.footer {
    padding: 40px 0 0;
    background-color: $lilac;
    border-top: 1px solid #55577d;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 30px;
    }

    &__item {
        margin-top: 50px;
    }

    &__title {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.5;
        color: #fff;
        text-transform: capitalize;

        &--contact {
            margin-top: 35px;
            font-size: 18px;
            font-weight: 600;
        }
    }

    &__copyright {
        padding: 10px 0;
        font-size: 14px;
        font-weight: 200;
        font-stretch: normal;
        line-height: 2.7;
        color: rgba(255, 255, 255, 0.25);
        text-align: center;
        border-top: 1px solid #55577d;
    }
}

@media (max-width: 1020px) {
    .footer {
        &__item {
            margin: 50px 20px 0;
        }
    }
}

@media (max-width: 991px) {
    .footer {
        padding: 0;
    }
}

@media (max-width: 590px) {
    .footer {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            margin: 0;
            text-align: center;
        }

        &__title--contact {
            margin-top: 0;
        }
    }
}
